{% extends 'base.html.twig' %}

{% block title %}Crée une Offre{% endblock %}

{% block body %}

    <div class="d-flex justify-content-center align-items-center text-white" style="height: 90px; background-color: #D43A3A;">
        <h1 class="text-center fs-1 fs-md-2 fs-lg-3 fs-xl-4 fw-bold">Crée une Offre</h1>
    </div>

    <div class="container my-5">
        <div class="row">
            <div class="col-12 col-md-9 col-lg-8 mx-auto"> <!-- Ajustement pour un formulaire plus large -->
                <div class="shadow p-4 mb-5 bg-body rounded">

                    {{ form_start(form) }}
                        <!-- Vos champs de formulaire ici -->
                        <div class="mb-3">
                            <label for="post" class="form-group">Titre du poste : <span class="required">*</span></label>
                            {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.titre) }}
                        </div>
                        <div class="mb-3">
                            <label for="salaire" class="form-group">Salaire :</label>
                            {{ form_widget(form.salaire, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.salaire) }}
                        </div>
                        <div class="mb-3">
                            <label for="etude_min" class="form-group">Niveau d'étude minimum : <span class="required">*</span></label>
                            {{ form_widget(form.etude_min, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.etude_min) }}
                        </div>
                        <div class="mb-3">
                            <label for="exp_min" class="form-group">Année d'expérience minimum : <span class="required">*</span></label>
                            {{ form_widget(form.experience_min, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.experience_min) }}
                        </div>
                        <div class="mb-3">
                            <label for="contrat" class="form-group">Type de contrat : <span class="required">*</span></label>
                            {{ form_widget(form.type_contrat, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.type_contrat) }}
                        </div>
                        <div class="mb-3">
                            <label for="nombre_heure" class="form-group">Nombre d'heure : <span class="required">*</span></label>
                            {{ form_widget(form.nb_heure, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.nb_heure) }}
                        </div>
                        <div class="mb-3">
                            <label for="description_post" class="form-group">Déscription général du post : <span class="required">*</span></label>
                            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.description) }}
                        </div>
                        <div class="mb-3">
                            <label for="competence_requis" class="form-group">Compétences pré requises : <span class="required">*</span></label>
                            {{ form_widget(form.prerequis, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.prerequis) }}
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="d-flex align-items-center">
                                {{ form_widget(form.submit, {'attr': {'class': 'btn-valider me-3'}}) }}
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}






