{% extends 'base.html.twig' %}

{% block title %}ESA
{% endblock %}

{# {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/accueil_candidat.css') }}">
{% endblock %} #}

{% block body %}

	<div class="container px-4">
		<div class="row gx-5">
			<div class="col mx-auto text-center">
				<div
					class="p-3 shadow" style="text-decoration: underline; color: red;">
					<h2>Vous avez {{ nombreCandidatures }} candidatures</h2>
				</div>
			</div>
		</div>
	</div>

	<br><br><br>
	<div class="container px-4">
		<div class="row gx-5 justify-content-center">
			<div class="col-12">
				<div class="shadow p-3">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">N°</th>
								<th scope="col">Intitulé du poste</th>
								<th scope="col">Référence</th>
								<th scope="col">Statut</th>
								<th scope="col">Date de candidature</th>
							</tr>
						</thead>
						<tbody>
                            {% for candidature in candidatures %}
                            <tr>
                                <th scope="row">{{ loop.index }}</th>
                                <td>{{ candidature.getIdOffre().getTitre() }}</td>
                                <td>{{ candidature.getIdOffre().getId() }}</td>
                                <td>{{ candidature.getStatutCandidature() }}</td>
                                <td>{{ candidature.getDateCandidature()|date('d/m/Y') }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
					</table>
				</div>
			</div>
		</div>
	</div>


{% endblock %}
