{% extends 'base.html.twig' %}

{% block title %}ESA
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/accueil_candidat.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
{% endblock %}

{% block body %}

	<div class="container px-4">
		<div class="row gx-5">
			<div class="col mx-auto text-center">
				<div
					class="p-3 shadow" style="text-decoration: underline; color: red;">
					<h2>Vous avez {{ nombreCandidatures }} candidatures</h2>
				</div>
			</div>
		</div>
	</div>

	<br><br><br>
	<div class="container px-4">
		<div class="row gx-5 justify-content-center">
			<div class="col-12">
				<div class="shadow p-3">
					<table class="table">
						<thead>
							<tr>
								<th scope="col" class ="col-1">N°</th>
								<th scope="col" class ="col-4">Intitulé du poste</th>
								<th scope="col" class ="col-2">Référence</th>
								<th scope="col" class ="col-2">Statut</th>
								<th scope="col" class ="col-2">Date de candidature</th>
								<th scope="col" class ="col-1"></th>
							</tr>
						</thead>
						<tbody>
                            {% for candidature in candidatures %}
                            <tr>
                                <th scope="row">{{ loop.index }}</th>
                                <td>{{ candidature.getIdOffre().getTitre() }}</td>
                                <td>{{ candidature.getIdOffre().getId() }}</td>
                                <td>{{ candidature.getStatutCandidature() }}</td>
                                <td>{{ candidature.getDateCandidature()|date('d/m/Y') }}</td>
								<td><a class="text-decoration-none" href="{{ path('candidature_details', {'id': candidature.getId()}) }}" style=" color: black;"><i class="fas fa-eye" ></i><span class="ms-2">Voir</span></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
					</table>
				</div>
			</div>
		</div>
	</div>


{% endblock %}
