{% extends 'base.html.twig' %}

{% block title %}ESA{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets\css\postulerOffre_candidat.css') }}">
{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row align-items-center py-3">
            <div class="col text-right">
				<a href="{{ path('offres_details', {'id': offre.id}) }}" class="btn btn-primary return-button btn-annuler">Retour à l'offre</a>
			</div>
        </div>
        {# Code HTML pour le popup #}
        <div id="popup">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        <div class="row justify-content-center align-items-center ">
            <div class="col-12 col-md-10 amber-bg p-5 text-center rounded shadow">
                <img src="logo.png" class="img-fluid mb-3" alt="Logo de l 'entreprise">
                <h1 class="mb-0 "style= "color: red;">{{ offre.getTitre()}}</h1>
                <h4>{{offre.getIdEntreprise().getNom()}}</h4>
            </div>
        </div>
        <br>
        <br>
        <form method="post" action="{{ path('app_postuler_candidater', {'idOffre': offre.id}) }}">
            <div class="row justify-content-center align-items-center ">
                <div class="col-12 col-md-10">
                    <div class="accordion amber-bg rounded p-4 shadow">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" >
                                    Ajouter un message au recruteur ?
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="form-group">
                                        <textarea class="form-control" id="message" name="message" rows="3" placeholder="Entrez votre message"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item rounded p-4 mt-4 amber-bg">
                        <div class="row">
                            <div class="col-md-6">
                                <h5>CV</h5>
                                {% if app.user.CV %}
                                    <embed src="#" type="application/pdf" width="100%" height="600px" />
                                    <p><a href="#" data-bs-toggle="modal" data-bs-target="#cvModal">Changer le CV</a></p>
                                {% else %}
                                    <p>Aucun CV disponible</p>
                                    <p><a href="#" data-bs-toggle="modal" data-bs-target="#cvModal">Ajouter un CV</a></p>
                                {% endif %}      
                            </div>
                            <div class="col-md-6">
                                <h5>Lettre de motivation</h5>
                                {% if app.user.lettreDeMotivation %}
                                    <embed src="#" type="application/pdf" width="100%" height="600px" />
                                    <p><a href="#" data-bs-toggle="modal" data-bs-target="#lettreModal">Changer la lettre</a></p>
                                {% else %}
                                    <p>Aucune lettre de motivation disponible</p>
                                    <p><a href="#" data-bs-toggle="modal" data-bs-target="#lettreModal">Ajouter une lettre</a></p>
                                {% endif %}
                            </div>
                            <div class="col-md-6">
                                <button type="submit" class="btn-valider btn-primary mt-4">Envoyer la candidature</button>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </form>
    </div>

    


    {% include "boutDeCode/_modalAjoutCvLm.html.twig" %}


{% endblock %}